node_modules
package.json
.env
.*
README.md
.env.local
package-lock.json
tailwind.config.js
tsconfig.json
postcss.config.js
next.config.js
dbConfig.js
.prettierrc
.eslintrc.json
.gitignore
.vscode
.next
public
styles